.app__mission-section {
  background: var(--color-black);
}

.app__mission-section h1,
.app__mission-para {
  text-align: center;
  margin-bottom: 2rem;
}

.app__mission-para {
  max-width: 70%;
  text-align: justify;
}

.app__mission-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.app__mission-image-container img {
  width: 50%;
  height: auto;
  object-fit: contain;
}

@media screen and (max-width: 1020px) {
  .app__mission-image-container img {
    width: 70%;
  }
  .app__mission-para {
    max-width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .app__mission-image-container img {
    width: 100%;
  }
}
