.app__testimonial-section {
  background: var(--color-black);
}

.app__testimonial-heading {
  text-align: center;
}

.app__review-card {
  max-width: 70%;
  border-radius: 5px;
  border: 1px solid var(--color-golden);
  /* background: var(--color-grey); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.app__review-container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.app__testimonial-para {
  padding-top: 2rem;
  text-align: center;
}

.app__review-images {
  gap: 20px;
  padding-top: 3rem;
}

.app__review-images img {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 30%;
  border-radius: 50%;
}

.app__reviewer-active img {
  height: 50px;
  opacity: 100%;
}

@media screen and (max-width: 768px) {
  .app__review-card {
    max-width: 100%;
    /* padding: 2rem; */
  }
  .app__quote-image img {
    height: 40%;
    width: auto;
  }
}

@media screen and (max-width: 500px) {
  .app__review-card {
    padding: 1rem;
  }

  .app__review-images div {
    width: 30%;
  }

  .app__reviewer-active img {
    height: 40px;
  }
}
