.section__padding {
  padding: 4rem 6rem;
}

.app__bg {
  background: url("../../public/restaurant/bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
}

.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom__button {
  background-color: var(--color-crimson);
  color: var(--color-black);
  font-family: var(--font-base);
  font-weight: 700;
  letter-spacing: 0.04em;
  line-height: 28px;
  font-size: 16px;
  padding: 0.5rem 1.5rem;
  border-radius: 1px;
  border: none;
  outline: none;
  cursor: pointer;
}

.p__cormorant {
  font-family: var(--font-base);
  color: var(--color-golden);
  font-weight: 700;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
  line-height: 29.9px;
  font-size: 23px;
}

.p__opensans {
  font-family: var(--font-alt);
  color: var(--color-white);
  font-weight: 400;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  line-height: 28px;
  font-size: 16px;
}

.p__errors {
  font-family: var(--font-alt);
  color: red;
  font-weight: 200;
  letter-spacing: 0.04em;
  line-height: 28px;
  font-size: 14px;
}

.p__darkOpenSans {
  font-family: var(--font-alt);
  color: var(--color-black);
  font-weight: 400;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  line-height: 28px;
  font-size: 16px;
}

.headtext__cormorant {
  font-family: var(--font-base);
  color: var(--color-golden);
  font-size: 64px;
  line-height: 83.2px;
  letter-spacing: 0.04em;
  text-transform: capitalize;
}

@media screen and (min-width: 2000px) {
  .custom__button,
  .p__cormorant {
    font-size: 37px;
    line-height: 67px;
  }

  .p__opensans {
    font-size: 30px;
    line-height: 50px;
  }

  .headtext__cormorant {
    font-size: 150px;
    line-height: 210px;
  }
}

@media screen and (max-width: 850px) {
  .section__padding {
    padding: 4rem;
  }
}

@media screen and (max-width: 650px) {
  .section__padding {
    padding: 4rem 2rem;
  }

  .p__cormorant {
    font-size: 21px;
  }

  .p__opensans {
    font-size: 14px;
  }
}

@media screen and (max-width: 450px) {
  .p__opensans {
    font-size: 12px;
  }

  .p__cormorant {
    font-size: 19px;
  }

  .headtext__cormorant {
    font-size: 45px;
    line-height: 70px;
  }
}

@media screen and (min-width: 2000px) {
  .app__pages-large-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .app__hero-section,
  .app__about-section,
  .app__menu-section,
  .app__specialDish-section,
  .app__video-section,
  .app__testimonial-section,
  .app__offer-section,
  .app__mission-section,
  .app__history-section,
  .app__chef-section,
  .app__menu-page-section,
  .app__navbar,
  .app__footer-section {
    max-width: 120rem;
  }

  .app__contact-section {
    width: 120rem;
    height: 100vh;
  }

  .app__contact-inputs,
  .app__contact-info-container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
  }

  .app__hero-img {
    width: 100%;
  }

  .app__hero-img img {
    width: 100%;
  }
}
