.app__history-section {
  background-color: var(--color-black);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}

.app__history-section h1,
.app__history-para {
  margin-bottom: 2rem;
}

.app__history-para {
  text-align: justify;
}

.app__history-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.app__history-image-container img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

@media screen and (max-width: 1020px) {
  .app__history-image-container img {
    gap: 20px;
    width: 70%;
  }
  .app__history-section {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 600px) {
  .app__history-image-container img {
    width: 100%;
  }
}
